{% macro displaySourceList(source_list) %}
   {% for source in source_list %}
   <div class="col-md-3 single-source">
        <div class="row">
            <div class="col-md-4 source-name"> 
      <h3>{{ source.name }}</h3>
      <p>{{ source.description}}</p>
      </div>
      <div class="col-md-7 source-details">
            <p> {{source.description|truncate(150)}}
                <br>
                <a href="/news/{{source.id}}">Read Articles</a>
            </p>            
        </div>
    </div>
</div>
          
    {% endfor %}
{% endmacro%}


